:root {
  --accent-color: #333333;
  --primary-color: #6c6c6c;
  --secondary-color: #222222;
}

a {
  color: currentColor
}

.pink {
  color: #ea4c89
}

.dark-pink {
  color: #e12f67
}

.blue {
  color: #1da1f2
}

.dark-blue {
  color: #1769ff
}

.green {
  color: #00ab6c
}

.bg-dark {
  background-color: #333333;
  color: #fff;
}

.bg-primary-color {
  background-color: var(--primary-color, #555555)
}

.bg-secondary-color {
  background-color: var(--secondary-color, #333333)
}

.bg-accent {
  background-color: var(--accent-color);
  color: var(--accent-text-color)
}