body {
  font-family: 'krub';
  cursor: default;
}


@font-face {
  font-family: 'krub';
  src: url(../fonts/krub/Krub-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'krub';
  src: url(../fonts/krub/Krub-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'krub';
  src: url(../fonts/krub/Krub-Bold.ttf);
  font-weight: 700;
}